//colors
$primary: theme("colors.primary");
$gradient: theme("colors.gradient");
$white: theme("colors.white");
$black: theme("colors.black");
$linehight: 140%;

//radius
$rounded: theme("borderRadius.DEFAULT");
$roundedSM: theme("borderRadius.sm");
$roundedMD: theme("borderRadius.md");
$roundedLG: theme("borderRadius.lg");
